@model EmployeeProjectManagement.Models.Employee

<h2>Create Employee</h2>

<form asp-action="Create">

<div class="form-group">
<label>Name</label>
<input asp-for="Name" class="form-control"/>
</div>

<br>

<div class="form-group">
<label>Department</label>

<select asp-for="DepartmentId" class="form-control">

@foreach(var d in ViewBag.Departments)
{

<option value="@d.DepartmentId">@d.DepartmentName</option>
}

</select>

</div>

<br>

<div class="form-group">

<label>Assign Projects</label>

<select name="projectIds" multiple class="form-control">

@foreach(var p in ViewBag.Projects)
{

<option value="@p.ProjectId">@p.Title</option>
}

</select>

</div>

<br>

<button type="submit" class="btn btn-success">Save</button>

</form>
