@model List<LibraryManagement.Models.Book>

<h2>Books List</h2>

<table border="1">
<tr>
<th>Id</th>
<th>Title</th>
<th>Author</th>
<th>Details</th>
</tr>

@foreach (var book in Model)
{
<tr>
<td>@book.Id</td>
<td>@book.Title</td>
<td>@book.Author</td>
<td>
<a href="/Books/Details/@book.Id">View</a>
</td>
</tr>
}
</table>