<div class="container mt-5 text-center">

<h2>Welcome, @ViewBag.User</h2>

<a asp-controller="HR" asp-action="Index" class="btn btn-success m-2">
Go to HR Dashboard
</a>

<a asp-action="Logout" class="btn btn-danger m-2">Logout</a>

</div>