@page

<div class="d-flex justify-content-center align-items-center vh-100">

    <div class="card shadow p-4" style="width: 350px;">
        <h3 class="text-center mb-3">🎟 Event Booking</h3>
        <p class="text-center text-muted">Login to continue</p>

        <input id="username" class="form-control mb-2" placeholder="Username" />
        <input id="password" type="password" class="form-control mb-3" placeholder="Password" />

        <button onclick="login()" class="btn btn-dark w-100">Login</button>
    </div>

</div>

<script>
function login(){
    let username = document.getElementById("username").value;
    let password = document.getElementById("password").value;

    fetch("http://localhost:5003/api/auth/login", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ username, password })
    })
    .then(res => {
        if(!res.ok){
            alert("Invalid credentials ❌");
            return;
        }
        return res.json();
    })
    .then(data => {
        localStorage.setItem("token", data.token);
        localStorage.setItem("username", username);

        window.location.href = "/Home";
    });
}
</script>