<div class="container mt-5 text-center">
<h2>HR Dashboard</h2>

<a asp-action="EmployeeList" class="btn btn-primary m-2">Employees</a>
<a asp-action="Reports" class="btn btn-warning m-2">Reports</a>
</div>